{% assign product = all_products.prio %}
{% style %}
#pp-upsell-product img {
  width: 100%;
  max-width: 100%;
}
.previewCartItem-name .previewCartItem-price {
  width: auto !important;
}
.previewCartItem-name {
  display: flex !important;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.cart-item[data-variant-id="48866157232454"] .cart-item-wrapper {
  cursor: not-allowed;
  pointer-events: none;
}
#pp-whatsapp-sticky svg {
  width: 23px;
}
#pp-whatsapp-sticky span {
  font-size: 10px;
  height: auto;
  margin: 0 !important;
  line-height: normal;
  display: block;
  margin-top: 4px !important;
}
#main-cart-items .cart-item[data-variant-id="48866157232454"] {
  display: block !important;
}
#pp-upsell-product .loader.active {
  display: block;
}
#pp-upsell-product .loader {
  border: 2px solid #000000;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#pp-upsell-product .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}

#pp-upsell-product .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#pp-upsell-product .slider {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #facfd9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#pp-upsell-product .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#pp-upsell-product input.active + .slider {
    background-color: #ae5781;
    box-shadow: 0 0 1px #ae5781;
}

#pp-upsell-product input.active + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
#pp-upsell-product .slider.round {
  border-radius: 34px;
}
#pp-upsell-product .slider.round:before {
  border-radius: 50%;
}
#pp-upsell-product .upcart-addons-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  font-weight: 700;
  font-family: var(--font-body-family);
  margin-bottom: 10px;
}
#pp-upsell-product {
  display: grid;
    grid-template-columns: 36px 1fr 60px;
    gap: 20px;
    background: #fff;
    padding: 5px;
    margin-bottom: 8px;
    border: 2px solid #ae5781;
    border-radius: 10px;
}
#pp-upsell-product h3 {
  margin: 0;
  font-size: 14px;
}
.upcart-addons-product-description {
  font-size: 12px;
  line-height: normal;
}
.pp-payment-icons {
  margin-top: 20px;
}
.pp-newsletter-wrap .newsletter-form__button svg path {
  fill: #fff;
}
.pp-newsletter-wrap .newsletter-form__button {
  background: #ff418d !important;
  border-radius: 10px;
}
.pp-newsletter-wrap .field__input {
  padding-right: 0 !important;
  margin: 0 !important;
  border: 1px solid #ccc;
}
.pp-newsletter-wrap h4 {
  font-size: 16px;
  color: #ff418d;
  margin: 0 0 10px;
  font-weight: bold;
}
.pp-newsletter-wrap h2 {
  font-size: 32px;
  margin: 0 0 40px;
  color: #000;
}
.pp-newsletter-wrap {
  text-align: center;
}
.pp-newsletter-row {
  padding: 80px 0px;
  background: #fafafa;
}
.pp-testimonial-block {
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
}
.pp-testimonial-details {
  grid-column: 1 / span 2;
}
.pp-testimonial-row {
  padding: 80px 0px 140px;
  text-align: center;
}
.pp-testimonial-heading {
  padding-left: 20px;
}
.pp-testimonial-details p {
  font-size: 14px;
  text-align: left;
  margin: 0 0 0px;
  color: #000;
  padding-top: 20px;
}
.pp-testimonial-heading h4 {
  font-size: 16px;
  text-align: left;
  margin: 0 0 5px;
  color: #ff418d;
  font-family: "Quicksand", sans-serif;
}
.pp-testimonial-heading h6 {
  font-size: 12px;
  text-align: left;
  margin: 0 0 10px;
  color: #000;
}
.pp-testimonial-headings h4 {
  font-size: 16px;
  color: #ff418d;
  margin: 0 0 10px;
  font-weight: bold;
}
.pp-testimonial-headings h2 {
  font-size: 32px;
  margin: 0 0 40px;
  color: #000;
}
{% endstyle %}

<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>

<div id="pp-upsell-product">
  <div class="Stack__item">
    <div class="upcart-addons-image-wrapper styles_AddonsModule__image__U+BnX">
      <img height="auto" width="100%" src="{{ product.featured_image | image_url }}" alt="{{ product.title }}">
    </div>
  </div>
  <div class="Stack__item Stack__item--fill">
    <div class="styles_AddonsModule__title__Sk2Yf">
      <h3 class="upcart-addons-title">
      <span>{{ product.title }}</span>
      <span>{{- product.price | money -}}</span>
      </h3>
    </div>
    <div class="upcart-addons-product-description">
      {{ product.description }}
    </div>
  </div>
  {% liquid
    assign set_active = false
    for item in cart.items
      if item.properties['_hideProduct'] != blank
      assign set_active = true
      assign data_index = item.index | plus: 1
      endif
    endfor 
  -%}
  <div class="Stack__item">
    <div style="display: none">
     {%- liquid
          assign product_form_id = 'quick-add-' | append: 'upsell-cart-prio' | append: product.id
        -%}
        <product-form data-section-id="upsell-cart-prio">
          {%- form 'product',
            product,
            id: product_form_id,
            class: 'form',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form'
          -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}"
              class="product-variant-id"
              {% if product.selected_or_first_available_variant.available == false %}
                disabled
              {% endif %}
            >
            
            <input type="hidden" name="properties[_hideProduct]" value="hide-product">
            <input type="hidden" name="properties[dele]" value="Deine Bestellung wird als erstes verschickt!">
            <button
              id="{{ product_form_id }}-submit"
              type="submit"
              name="add"
              class="button button--secondary"
              aria-haspopup="dialog"
              aria-labelledby="{{ product_form_id }}-submit title-upsell-cart-prio-{{ product.id }}"
              aria-live="polite"
              data-sold-out-message="true"
              {% if product.selected_or_first_available_variant.available == false %}
                disabled
              {% endif %}
            >
              <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon icon-cart stroke-w-0" aria-hidden="true" focusable="false" role="presentation">
                <path d="M 16 3 C 13.253906 3 11 5.253906 11 8 L 11 9 L 6.0625 9 L 6 9.9375 L 5 27.9375 L 4.9375 29 L 27.0625 29 L 27 27.9375 L 26 9.9375 L 25.9375 9 L 21 9 L 21 8 C 21 5.253906 18.746094 3 16 3 Z M 16 5 C 17.65625 5 19 6.34375 19 8 L 19 9 L 13 9 L 13 8 C 13 6.34375 14.34375 5 16 5 Z M 7.9375 11 L 11 11 L 11 14 L 13 14 L 13 11 L 19 11 L 19 14 L 21 14 L 21 11 L 24.0625 11 L 24.9375 27 L 7.0625 27 Z"></path>
              </svg>
              {%- if horizontal_quick_add -%}
                <span class="icon-wrap">{% render 'icon-plus' %}</span>
              {%- endif -%}
              {%- render 'loading-spinner' -%}
            </button>
          {%- endform -%}
        </product-form>
    </div>
    <label class="switch">
      <input type="checkbox" onclick="upsell_product(event)" id="pp-upsell-product-input"{% if set_active %} class="active" checked data-index="{{ data_index }}"{% endif %} data-id="{{ product_form_id }}-submit">
      <span class="slider round"></span>
    </label>
    <div class="loader"></div>
  </div>
</div>
{{ 'pp-upsell-cart.js' | asset_url | script_tag }}