
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604440551030588385.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-604440551030588385.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-604440551030588385.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604440551030588385.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604440551030588385.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604440551030588385.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604440551030588385.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604440551030588385.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604440551030588385.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604440551030588385.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604440551030588385.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604440551030588385.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604440551030588385.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604440551030588385.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604440551030588385.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604440551030588385.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604440551030588385.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604440551030588385.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604440551030588385.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604440551030588385.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604440551030588385.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604440551030588385.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604440551030588385.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604440551030588385.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604440551030588385.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604440551030588385.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604440551030588385.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-604440551030588385.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604440551030588385.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604440551030588385.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604440551030588385.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-604440551030588385.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604440551030588385.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604440551030588385.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604440551030588385.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604440551030588385.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604440551030588385.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-604440551030588385.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-604440551030588385.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604440551030588385.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604440551030588385.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604440551030588385.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604440551030588385.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604440551030588385.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604440551030588385.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604440551030588385.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604440551030588385.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-604440551030588385.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604440551030588385.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604440551030588385.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604440551030588385.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604440551030588385.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604440551030588385.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604440551030588385.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604440551030588385.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604440551030588385.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604440551030588385.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-604440551030588385.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-604440551030588385.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604440551030588385.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604440551030588385.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-604440551030588385.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604440551030588385.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604440551030588385.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604440551030588385.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604440551030588385.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-604440551030588385.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-604440551030588385.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604440551030588385.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604440551030588385.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-604440551030588385.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-604440551030588385.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-604440551030588385.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-604440551030588385.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-604440551030588385.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604440551030588385.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604440551030588385.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604440551030588385.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-604440551030588385.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-604440551030588385.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604440551030588385.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604440551030588385.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-604440551030588385.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-604440551030588385.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604440551030588385.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604440551030588385.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604440551030588385.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604440551030588385.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-604440551030588385.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604440551030588385.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604440551030588385.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604440551030588385 .gp-relative{position:relative}.gps-604440551030588385 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604440551030588385 .gp-mb-0{margin-bottom:0}.gps-604440551030588385 .gp-flex{display:flex}.gps-604440551030588385 .gp-inline-flex{display:inline-flex}.gps-604440551030588385 .gp-grid{display:grid}.gps-604440551030588385 .\!gp-hidden{display:none!important}.gps-604440551030588385 .gp-hidden{display:none}.gps-604440551030588385 .gp-w-full{width:100%}.gps-604440551030588385 .gp-max-w-full{max-width:100%}.gps-604440551030588385 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604440551030588385 .gp-flex-col{flex-direction:column}.gps-604440551030588385 .gp-items-center{align-items:center}.gps-604440551030588385 .gp-justify-center{justify-content:center}.gps-604440551030588385 .gp-overflow-hidden{overflow:hidden}.gps-604440551030588385 .gp-leading-\[0\]{line-height:0}.gps-604440551030588385 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-604440551030588385 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604440551030588385 .gp-duration-200{transition-duration:.2s}.gps-604440551030588385 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-604440551030588385 .tablet\:\!gp-hidden{display:none!important}.gps-604440551030588385 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604440551030588385 .mobile\:\!gp-hidden{display:none!important}.gps-604440551030588385 .mobile\:gp-hidden{display:none}}.gps-604440551030588385 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-604440551030588385 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-604440551030588385 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-604440551030588385 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-604440551030588385 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF7F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQKyoLtQ6s"}' data-id="gQKyoLtQ6s" id="gQKyoLtQ6s" data-same-height-subgrid-container class="gQKyoLtQ6s gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:80px;--pt-mobile:0px;--pb-mobile:72px;--pt-tablet:0px;--pb-tablet:80px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFF7F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzFzBbgqBg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gRQcNVIUIO"}' data-id="gRQcNVIUIO" id="gRQcNVIUIO" data-same-height-subgrid-container class="gRQcNVIUIO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:0px;--cg:54px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:790px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHYcH9XDWC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gXeFpuSF-I"}' data-id="gXeFpuSF-I" id="gXeFpuSF-I" data-same-height-subgrid-container class="gXeFpuSF-I gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:12px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gVFhXevp1x gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g9v3MbkukG" class="gp-leading-[0] g9v3MbkukG" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g9v3MbkukG" class="icon-wrapper gp-inline-flex gp-overflow-hidden g9v3MbkukG " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:30px;--h:30px;--h-tablet:30px;--h-mobile:30px;--minw:30px;--minw-tablet:30px;--minw-mobile:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg data-name="st4.svg" data-id="593082700185731752" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="28" height="34" viewBox="0 0 28 34" fill="none">
<rect x="0.5" y="0.5" width="27" height="33" rx="13.5" fill="#FFF7F0"/>
<rect x="0.5" y="0.5" width="27" height="33" rx="13.5" stroke="#242424"/>
<path d="M8.36293 21.6989V19.5192L13.8281 10.9091H15.7074V13.9261H14.5952L11.1499 19.3786V19.4808H18.9162V21.6989H8.36293ZM14.6463 24V21.0341L14.6974 20.0689V10.9091H17.2926V24H14.6463Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gk9MwRWtOn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjSx-H3yH3"
        class="gjSx-H3yH3"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjSx-H3yH3_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghXTE0vSzr"
        class="ghXTE0vSzr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:32px;--pb-mobile:28px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghXTE0vSzr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gdVvr3Z0jD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gEOkVP9pHz"}' data-id="gEOkVP9pHz" id="gEOkVP9pHz" data-same-height-subgrid-container class="gEOkVP9pHz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gayTvalVQf gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:20px;--bbrr-mobile:20px;--btlr-mobile:20px;--btrr-mobile:20px" class="g5PyxnGmaO ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="g5PyxnGmaO"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"altText":"Describes the appearance of the image","backupFileKey":"gempages_588066210092942151-333315b7-d59b-41ef-bfcd-83ec9edb5203.jpeg","height":1024,"imageTitle":"Title","preload":false,"src":"https://cdn.shopify.com/s/files/1/0767/6051/4886/files/Generated_Image_January_30_2026_-_7_54PM.jpg","storage":"FILE_CONTENT","width":1024},"rightImage":{"altText":"Describes the appearance of the image","backupFileKey":"gempages_588066210092942151-908080a2-1b49-4095-805f-9a5c4c01226e.jpeg","height":1024,"imageTitle":"Title","preload":false,"src":"https://cdn.shopify.com/s/files/1/0767/6051/4886/files/Generated_Image_January_30_2026_-_7_57PM_1.jpg","storage":"FILE_CONTENT","width":1024},"handleSize":40,"aspectRatio":{"desktop":"16/9","mobile":"1"},"defaultRatio":"1024/1024","componentUid":"g5PyxnGmaO","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.71}'
    >
      <div id="img-comparison-wrapper-g5PyxnGmaO" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
        <div
          id="img-comparison-container-g5PyxnGmaO"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:16/9;--aspect-mobile:1"
        >
          
      <img alt="" src width="1024" height="1024" data-testid="temp-image" style="--pos:static;--op:0;--aspect:16/9;--aspect-mobile:1" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Generated_Image_January_30_2026_-_7_57PM_1.jpg" | file_url }}" data-src="{{ "Generated_Image_January_30_2026_-_7_57PM_1.jpg" | file_url }}" data-srcset="{{ "Generated_Image_January_30_2026_-_7_57PM_1.jpg" | file_url }}"
      id="right-image-g5PyxnGmaO"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover;--objf-mobile:cover"
      class="gp_lazyload"
    />
          
    <img
      data-testid="left-image" width="2237" height="1678" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Generated_Image_January_30_2026_-_7_54PM.jpg" | file_url }}" data-src="{{ "Generated_Image_January_30_2026_-_7_54PM.jpg" | file_url }}" data-srcset="{{ "Generated_Image_January_30_2026_-_7_54PM.jpg" | file_url }}"
      id="left-image-g5PyxnGmaO"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover;--objf-mobile:cover"
      class="gp_lazyload"
    />
          
    <div id="image-comparison-slider-g5PyxnGmaO" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
          
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-604440551030588385 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/46d275-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604440550963151841&sectionId=604440551030588385)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggjSx-H3yH3_text","label":"ggjSx-H3yH3_text","default":"Sanft zum Nagel"},{"type":"html","id":"gghXTE0vSzr_text","label":"gghXTE0vSzr_text","default":"<p>UV-Gel-Folien kommen ohne aggressive Modellage aus. Es wird kaum gefeilt, der Naturnagel wird nicht unnötig belastet oder ausgedünnt.</p><p>&nbsp;</p><p>Das macht sie ideal für alle, die schöne Nägel wollen, aber ihre Naturnägel langfristig gesund halten möchten.</p>"},{"type":"html","id":"gg5PyxnGmaO_leftImageLabel","label":"gg5PyxnGmaO_leftImageLabel","default":"Before"},{"type":"html","id":"gg5PyxnGmaO_rightImageLabel","label":"gg5PyxnGmaO_rightImageLabel","default":"After"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}